*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #FFE4E1;
    color: #000;
    font-family: 'Droid Sans', sans-serif;
}
.title
{
    text-align: center;
    margin: 15px auto 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}
.main-app
{
    background: #7F8C8D;
    padding: 40px 30px 20px;
    border-radius: 5px;
}
input
{
    background: #34495E;
    border: none;
    box-shadow: none;
    color: #fff;
    padding-left: 10px;
}
.inp-app
{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-size: 22px;
}
.inp-app input
{
    height: 60px;
}
.inp-place
{
    height: 50px;
    margin-bottom: 20px;
}
.inp-app select
{
    height: 30px;
}
.inp-1
{
    width: 90%;
}
.inp-2
{
    width: 50%;
    height: 50px;
    margin-bottom: 30px;
}
.date-row
{
    display: flex;
}
.inp-3
{
    width: 15%;
}
.inp-day
{
    width: 40%;
    background: #34495E;
    border: none;
    box-shadow: none;
    color: #fff;
}
.inp-pio, .inp-month
{
    background: #34495E;
    border: none;
    box-shadow: none;
    color: #fff;
}
.inp-4
{
    width: 25%;
}
.inp-5
{
    width: 30%;
    height: 50px;
}
.btn-1
{
    margin: 40px auto 10px;
    width: 160px;
    height: 50px;
    font-size: 20px;
    background: #34A65F;
}
.btn-1:hover
{
    background: #0F8A5F;
}
.row-end
{
    background: #FF7F50;
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
}
.label-info-1
{
    font-size: 20px;
    width: 100px;
    height: 50px;
    background: lightgreen;
    padding: 10px;
}
.row-btn
{
    display: flex;
}
.btn-end
{
    margin: 10px;
}
.fa-1
{
    color: blue;
}